# Downloaded thing
.sources/*

# SBU file

# execution log
log/
*.log

# File reference step
step
!src/**/*

# backup
backup/*
lfs-*

# package_meta
package_meta*
!package_meta_in
!package_meta

# dot_mngr
dot_mngr
venv
